<nav class="navbar navbar-dark bg-secondary">
    <a href="/" class="navbar-brand">SOUSA-CMS</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li> 
        <li class="nav-item">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 1em;">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="position: absolute;">
                  <%categories.forEach(category=>{%>
                    <a class="dropdown-item" href="#"><%= category.title%></a>
                  <%})%>
                </div>
              </div>
        </li>
    </ul>
</nav>