<nav class="navbar navbar-dark bg-secondary">
    <a href="/" class="navbar-brand">SOUSA-CMS</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
    </ul>
</nav>