<nav class="navbar navbar-dark bg-secondary">
    <a href="/" class="navbar-brand">SOUSA-CMS</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/admin/categories/new" class="nav-link">| Categories</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles/new" class="nav-link">| Articles </a>
        </li> 
    </ul>
</nav>